<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User</title>
</head>
<body>

<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Code</th>
    </tr>
    <tr th:each="item,iterationStatus  : ${items}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${item.name}">001</td>
        <td th:text="${item.description}">Name</td>
        <td th:text="${item.code}">City</td>
    </tr>
</table>

</body>
</html>