<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Colo login</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"
          href="../../css/normalize.css" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"
          href="../../css/main.css" />
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<nav class="navbar navbar-inverse col-md-9 border-top-0 navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav form-inline container-fluid">
            <li class="nav-item container-fluid"><a class="nav-link" href="./logout">Logout</a></li>
            <span>&#124;</span>
            <li class="nav-item container-fluid"><a class="nav-link" href="./items">List</a></li>
            <span>&#124;</span>
            <li class="nav-item container-fluid"><a class="nav-link" href="./#column1">Our Vision</a></li>
            <span>&#124;</span>
            <li class="nav-item container-fluid"><a class="nav-link" href="#column2">Plan</a></li>
        </ul>
    </div>
</nav>

<div class="container container1" id="join">
    <h1><p th:text="${user?.username}"></p></h1>
</div>

<form th:action="@{/user/addItem}" th:object="${item}" method="post">
    <div class="form-group">
        <label for="exampleDropdownFormEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="example"/>
    </div>
    <div class="form-group">
        <label> Item: <input type="text" name="name"/> </label></div>
    <div class="form-group">
        <label> Description: <input type="text" name="description"/> </label></div>
    <div class="form-group">
        <label> Address: </label> </div>
    <div class="form-group">
        <label> Street: <input type="text" name="address.street"/> </label></div>
    <div class="form-group">
        <label> City:   <input type="text" name="address.city"/> </label></div>
    <div class="form-group">
        <label> State:  <input type="text" name="address.state"/> </label></div>
    <div class="form-group">
        <label> Zip:    <input type="text" name="address.zip"/> </label></div>
    <div class="form-group">
        <input type="submit" value="Add item"/></div>
</form>

<table>
    <tr>
        <th></th>
        <th>Nameee</th>
        <th>Description</th>
        <th>Code</th>
    </tr>
    <tr th:each="item,iterationStatus  : ${items}">
        <td>
            <a th:href="@{'/item/' + ${item.code}}" th:text="${iterationStatus.count}">a</a>
        </td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.code}"></td>
    </tr>
</table>

</body>
</html>